generated/resources/wsdl/BookListService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.8 svn-revision#13980. -->
<definitions targetNamespace="http://service.bookstore.contribe.com/" name="BookListService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:tns="http://service.bookstore.contribe.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://service.bookstore.contribe.com/" schemaLocation="BookListService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="add">
    <part name="parameters" element="tns:add"/>
  </message>
  <message name="addResponse">
    <part name="parameters" element="tns:addResponse"/>
  </message>
  <message name="remove">
    <part name="parameters" element="tns:remove"/>
  </message>
  <message name="removeResponse">
    <part name="parameters" element="tns:removeResponse"/>
  </message>
  <message name="delete">
    <part name="parameters" element="tns:delete"/>
  </message>
  <message name="deleteResponse">
    <part name="parameters" element="tns:deleteResponse"/>
  </message>
  <message name="list">
    <part name="parameters" element="tns:list"/>
  </message>
  <message name="listResponse">
    <part name="parameters" element="tns:listResponse"/>
  </message>
  <message name="buy">
    <part name="parameters" element="tns:buy"/>
  </message>
  <message name="buyResponse">
    <part name="parameters" element="tns:buyResponse"/>
  </message>
  <portType name="BookList">
    <operation name="add">
      <input wsam:Action="http://service.bookstore.contribe.com/BookList/addRequest" message="tns:add"/>
      <output wsam:Action="http://service.bookstore.contribe.com/BookList/addResponse" message="tns:addResponse"/>
    </operation>
    <operation name="remove">
      <input wsam:Action="http://service.bookstore.contribe.com/BookList/removeRequest" message="tns:remove"/>
      <output wsam:Action="http://service.bookstore.contribe.com/BookList/removeResponse" message="tns:removeResponse"/>
    </operation>
    <operation name="delete">
      <input wsam:Action="http://service.bookstore.contribe.com/BookList/deleteRequest" message="tns:delete"/>
      <output wsam:Action="http://service.bookstore.contribe.com/BookList/deleteResponse" message="tns:deleteResponse"/>
    </operation>
    <operation name="list">
      <input wsam:Action="http://service.bookstore.contribe.com/BookList/listRequest" message="tns:list"/>
      <output wsam:Action="http://service.bookstore.contribe.com/BookList/listResponse" message="tns:listResponse"/>
    </operation>
    <operation name="buy">
      <input wsam:Action="http://service.bookstore.contribe.com/BookList/buyRequest" message="tns:buy"/>
      <output wsam:Action="http://service.bookstore.contribe.com/BookList/buyResponse" message="tns:buyResponse"/>
    </operation>
  </portType>
  <binding name="BookListPortBinding" type="tns:BookList">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="add">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="remove">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="delete">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="list">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="buy">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="BookListService">
    <port name="BookListPort" binding="tns:BookListPortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

